:root {
    --main-bg-color: rgb(31, 2, 22);
    --secondary-bg-color: rgb(40, 9, 31);
    --text-color-light: rgb(244, 244, 249);
    --text-color-dark: black;
    --accent-color: rgb(232, 197, 71);
    --deleted-color: rgba(255, 0, 0, 0.308);
    --archived-color: rgba(232, 197, 71, 0.286);
    --standard-border-color: black;
    /* borders */
    --main-border-radius: 0.3rem;
    --standard-border-width: 1px;
    --standard-btn-height: 1.5rem;
}

.login-container {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-bg-color);
 }

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20rem;
    height: 25rem;
    background-color: var(--secondary-bg-color);
    border: var(--standard-border-width) solid var(--standard-border-color);
    padding: 0rem 1rem;
}

.login-form-field-div {
    text-align: center;
    width: 100%;
}

.login-form-field {
    width: 80%;
    background-color: var(--archived-color);
}

.login-form-btn {
    width: 6rem;
}