@media (width <=650px) {
    .navbar {
        border-right: 1px solid black;
        padding: 1rem 0;
        background-color: var(--secondary-bg-color);
        width: 100%;
        height: 7svh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    /* burger menu style and animation START */
    .burger-menu {
        display: inline-block;
        background: transparent;
        border-radius: 0.2rem;
        border: 0.5px solid var(--text-color);
        height: 2rem;
        overflow: hidden;
        margin-right: 2rem;
    }

    .hamburger {
        fill: none;
        stroke: var(--text-color);
    }

    .burger-menu .hamburger {
        transition: translate 0.8s, rotate 0.8s;
    }

    .burger-menu[aria-expanded="true"] .hamburger {
        translate: 2px -2px;
        rotate: .125turn;
    }

    .burger-menu .line {
        transition: 1s;
        stroke-dasharray: 60 31 60 300;
    }

    .burger-menu[aria-expanded="true"] .line {
        stroke-dasharray: 60 105 60 300;
        stroke-dashoffset: -90;
    }

    /* burger menu style and animation END */




    /* VIEWS PART STARTS */
    #primary-navigation {
        display: none;
    }

    .nav_tags {
        display: none;
    }
}

@media (650px < width < 1081px) {

    /* LEFT NAVBAR STARTS */
    .navbar {
        border-right: 1px solid black;
        padding: 1rem 0;
        background-color: var(--secondary-bg-color);
        height: 100svh;
    }

    .burger-menu {
        display: none;
    }

    /* VIEWS PART STARTS */
    .nav_views {
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        height: 25%;
    }

    .views_top {
        flex: 1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 1rem;
        align-items: center;
    }

    .views_top button {
        background-color: var(--main-bg-color);
    }

    .views_nav {
        flex: 4;
    }

    .views_nav ul form {
        height: 100%;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    .nav-view-item {
        /* border: 1px solid black; */
        background-color: var(--secondary-bg-color);
        border: none;
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        transition: all 0.3s ease-out;
    }

    .nav-view-item:hover {
        background-color: var(--text-color);
        color: black;
    }

    
    /* VIEWS PART ENDS */

    /* TAGS PART STARTS */
    .nav_tags {
        height: max-content;
        margin-top: 5rem;
    }

    #tag-list-title {
        margin-left: 1rem;
    }

    .nav-tag-item a::before {
        content: "# ";
        color: grey;
    }

    .nav-tag-item {
        margin: 1rem 0;
        width: 100%;
        height: 2rem;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        transition: all 0.3s ease-out;
    }

    .nav-tag-item:hover,
    .nav-tag-item:focus {
        background-color: var(--text-color);
        color: black;
    }

    .nav-tag-item p {
        color: grey;
    }

    .navbar-tag {
        width: 5rem;
    }

    /* VIEWS PART ENDS */
    /* LEFT NAVBAR END */
}

@media (width >=1081px) {

    /* LEFT NAVBAR STARTS */
    .navbar {
        border-right: 1px solid black;
        padding: 1rem 0;
        background-color: var(--secondary-bg-color);
        height: 100svh;
    }

    .burger-menu {
        display: none;
    }

    /* VIEWS PART STARTS */
    .nav_views {
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        height: 25%;
    }

    .views_top {
        flex: 1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 1rem;
        align-items: center;
    }

    .views_top button {
        background-color: var(--main-bg-color);
    }

    .views_nav {
        flex: 4;
    }

    .views_nav ul form {
        height: 100%;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    .nav-view-item {
        /* border: 1px solid black; */
        background-color: var(--secondary-bg-color);
        border: none;
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        transition: all 0.3s ease-out;
    }

    .nav-view-item:hover {
        background-color: var(--text-color);
        color: black;
    }

    


    /* VIEWS PART ENDS */

    /* TAGS PART STARTS */



    .nav_tags {
        height: max-content;
        margin-top: 5rem;
    }

    #tag-list-title {
        margin-left: 1rem;
    }

    .nav-tag-item a::before {
        content: "# ";
        color: grey;
    }

    .nav-tag-item {
        margin: 1rem 0;
        width: 100%;
        height: 2rem;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        transition: all 0.3s ease-out;
    }

    .nav-tag-item:hover,
    .nav-tag-item:focus {
        background-color: var(--text-color);
        color: black;
    }

    .nav-tag-item p {
        color: grey;
    }

    .navbar-tag {
        width: 5rem;
    }

    /* VIEWS PART ENDS */
    /* LEFT NAVBAR END */
}