:root {
    --main-bg-color: rgb(31, 2, 22);
    --secondary-bg-color: rgb(40, 9, 31);
    --text-color-light: rgb(244, 244, 249);
    --text-color-medium: grey;
    --text-color-dark: black;
    --accent-color: rgb(232, 197, 71);
    --deleted-color: rgba(255, 0, 0, 0.308);
    --archived-color: rgba(232, 197, 71, 0.286);
    --standard-border-color: black;
    /* borders */
    --main-border-radius: 0.3rem;
    --standard-border-width: 1px;
    --standard-btn-height: 1.5rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input[type="text"],
input[type="password"] {
    border-radius: var(--main-border-radius);
    padding: 0.5rem;
    outline: none;
}


input[type="submit"] {
    outline: none;
    cursor: pointer;
    border-radius: var(--main-border-radius);
}


button {
    outline: none;
    border-radius: var(--main-border-radius);
    background-color: var(--accent-color);
    color: var(--text-color-dark);
    border: var(--standard-border-width) solid var(--standard-border-color);
    height: var(--standard-btn-height);
}

button:hover {
    cursor: pointer;
}

header {
    position: absolute;
    height: auto;
}

.full-height {
    height: 100svh;
}

.full-width {
    width: 100vw;
}

#flash_alert {
    all: unset;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    height: 3rem;
    color: var(--main-bg-color);
    font-weight: bold; 
    z-index: 1;
    background-color: var(--accent-color);
    width: 100vw;
}

#remove-flash-btn {
    position: absolute;
    width: 2rem;
    height: var(--standard-btn-height);
    border: 1px solid black;
    background-color: transparent;
    right: 5%;
}

@media (width <=650px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

@media (650px < width < 1081px) {
    body {
        display: flex;
        flex-direction: row;
    }
}

@media (width >=1081px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        grid-template-rows: 1fr;
    }
}