{% extends "layout.html" %}

{% block title %}
Note taking app
{% endblock %}

{% block body %}

    <nav class="navbar">
        <button class="nav-open-note">Open</button>
        <button class="nav-new-note">New note</button>
        <button class="burger-menu" aria-controls="primary-navigation" aria-expanded="false">
            <svg class="hamburger" viewBox="-10 -10 120 120" width="30">
                <path stroke-width="10"
                        stroke-linecap="round"
                        stroke-linejoin="round" 
                d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70" class="line"></path>
            </svg>
        </button>
        <div class="nav_views" id="primary-navigation">
            <div class="views_top">
                <h3>Views</h3>
            </div>

            <nav class="views_nav">
                <ul>
                    <form action="/" method="post">
                        <li><input class="nav-view-item" type="submit" name="action" value="All notes"></li>
                        <li><input class="nav-view-item" type="submit" name="action" value="Active"></li>
                        <li><input class="nav-view-item" type="submit" name="action" value="Archive"></li>
                        <li><input class="nav-view-item" type="submit" name="action" value="Trash bin"></li>
                </form>
                </ul>
            </nav>
        </div>
        <nav class="nav_tags">
            <h3 id="tag-list-title">Tags</h3>
                <ul>
                    <li class="nav-tag-item" id="nav-tag-item-show-all"><p class="navbar-tag">Show All</p></li>
                    {% for tag in tags %}
                    <li class="nav-tag-item">
                        <p class="navbar-tag">{{ tag.tag }}</p>
                        <p>{{ tag.number }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
    </nav>


    <div class="scroll_bar">
        <div class="scroll_top">
            <h3>All notes</h3>
            <form action="/" method="post">
                <input type="submit" name="action" value="New note" id="add-note-btn">
            </form>
            <input type="search" autocomplete="off" autofocus placeholder="Search" id="input-search">
            <h4>Options</h4>
        </div>
        <div class="scroll_bottom">
            {% for note in notes %}
            <div class="notes">
                <form action="/" method="post" class="scroll-bar-note-header">
                    <input name="note-id" type="text" value="{{ note.id }}" id="scroll-bar-note-id">
                    <input name="note-tag-hidden" type="hidden" value="{{ note.tag }}">
                    <input name="note-status" type="hidden" value="{{ note.status }}">
                    <input type="submit" name="action" value="Edit" id="scroll-bar-note-edit-icon">
                    <input type="submit" name="action" value="Delete" id="scroll-bar-note-delete-icon" class="delete-note-btn">
                </form>
                <h3 class="scroll-bar-note-title">{{ note.title }}</h3>
                <div class="scroll-bar-description-container">
                    <p class="scroll-bar-note-description">{{ note.description | safe }}</p>
                </div>
                <footer class="scroll-bar-note-footer">
                    <p class="scroll-bar-note-tag">{{ note.tag }}</p>
                    <p class="scroll-bar-note-timestamp">Last update: {{ note.date }}</p>
                </footer>
            </div>
            {% endfor %}
        </div>
    </div>

    <section class="note-text">
        <form action="/" method="post" id="note-text-form">
            <div class="note-section-top">
                <input autocomplete="off" autofocus id="note-title" name="note-title" placeholder="{{ title }}" type="text">
                <div id="changes-alert">
                    <p>User: {{ current_username }}</p>
                    <p><a class="nav-link" href="/logout">Log Out</a></p>
                </div>
                <div id="note-tag-before"><input autocomplete="off" autofocus id="note-tag" name="note-tag"
                        placeholder="{{ tag }}" type="text"></div>
                <nav class="note-text-nav">
                    <ul>
                        <li class="text-editor-btn"><img src="/static/images/Icons/bold_icon.png" alt="bold icon" id="bold-icon"></li>
                        <li class="text-editor-btn"><img src="/static/images/Icons/italic_icon.png" alt="italic icon" id="italic-icon"></li>
                        <li class="text-editor-btn"><img src="/static/images/Icons/strikethrough_icon.png" alt="strikethrough icon" id="strikethrough-icon"></li>
                        <li class="text-editor-btn"><img src="/static/images/Icons/underline_icon.png" alt="underline icon" id="underline-icon"></li>
                        <input name="current-note-id" type="hidden" value="{{ id }}" id="current-note-id">
                    </ul>
                </nav>
            </div>
            <div class="note-text-textarea">
                <input name="text-area" type="hidden" value="" id="note-text-bottom-hidden">
                <div class="note-text_bottom" contenteditable>{{ textarea | safe }}</div>
                <div class="note-section-save-div">
                    <input name="action" value="Archive Note" type="submit" class="note-section-footer-btn archive-note-btn">
                    <input name="action" value="Delete Note" type="submit" class="note-section-footer-btn delete-note-btn">
                    <input name="action" value="Save Note" type="submit" class="note-section-footer-btn" id="save-note-btn">
                </div>
            </div>
        </form>
    </section>

{% endblock %}