<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <!-- <link href="/static/favicon.ico" rel="icon"> -->

    <!-- stylesheets -->
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/notes.css">
    <link rel="stylesheet" href="/static/text_section.css">
    <link rel="stylesheet" href="/static/register.css">

    <script src="/static/js/script.js" defer></script>

    <title>{% block title %}{% endblock %}</title>

</head>
    <body>


        {% if get_flashed_messages() %}
        <header>
            <div class="flash_alert">
                {{ get_flashed_messages() | join(" ") }}
                <input type="button" value="X" id="remove-flash-btn">
            </div>
        </header>
        {% endif %}

        {% block body %}
        {% endblock %}

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <!-- <footer>
            (c) Luca Vassos, 2023
        </footer> -->


        

    </body>
</html>